@import "tailwindcss";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

/* =========================
   PRELOADER ANIMATION
   ========================= */

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 3s linear infinite;
}
